<table class="table table-striped table-dark" *ngIf="hideUserList !== true">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">UserName</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usersList" (click)="showUserAlbums(user.id)">
      <th scope="row">{{user.id}}</th>
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
    </tr>
  </tbody>
</table>
<app-user-albums (hideAlbums)="hideUserAlbums()" [userId]="userId" *ngIf="showAlbumList === true" ></app-user-albums>