<div *ngIf="photos">
    <button *ngIf="showPhotos === true" class="btn btn-primary" (click)="backToAlbums()" type="submit">Back</button>
    <div class="text-center" *ngFor="let photo of filterPhotos()">
        <img src="{{photo.url}}" class="rounded" alt="...">
      </div>
</div>
