<table class="table table-striped table-dark" *ngIf="hideAlbumList !== true && albumList">
  <thead>
    <tr>
        <th scope="col">Album Id</th>
      <th scope="col">User Id</th>
      <th scope="col">Album Title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let album of filterAlbums()" (click)="showPhotos(album.id)">
        <th scope="row">{{album.id}}</th>
      <th scope="row">{{album.userId}}</th>
      <td>{{album.title}}</td>
    </tr>
  </tbody>
</table>
<app-user-photos [showPhotos]="showAlbumPhotos" (hidePhotos)="hideAlbumPhotos()" [albumId]="albumId" *ngIf="showAlbumPhotos === true"></app-user-photos>
<button *ngIf="hideAlbumList !== true && albumList" (click)="backToUserList()" class="btn btn-primary" type="submit">Back</button>